/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer
   k. Description Section

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }
#root{ height: 100%;}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   max-height: 3.225em;
   width: 100%;
   background: #161415;
   text-align: center;
   vertical-align: middle;
}

header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 0.75em 'opensans-bold', sans-serif;
   width: 100%;
   height: 4.25em;
   text-transform: uppercase;
   letter-spacing: 0.15625em;
   margin: 0 auto;
   left: 0;
   top: 0;
   z-index: 100;
   position: fixed;
   background: #161415;
   overflow: hidden;
}
.opaque { background-color: #333; }

/* hide toggle button */
#mobile-btn { display: none; }

ul#nav {
   height: 100%;
   width: auto;
   display: inherit;
}

ul#nav li {
   position: relative;
   list-style: none;
   height: 100%;
   float: left;
}

ul#nav li.auth {
   float: right;
}

/* Links */
ul#nav li .header-link {

   display: inline-block;
   margin: 1.1em 1.1em;
   line-height: 2em;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li.header-li:hover { background-color:#333 !important; }
ul#nav li.active { color: #F06000; }

ul#nav li.flag-li {
   float: right;
   text-align: center;
   margin: auto;
   display: block;
}

i.flag{
   cursor: pointer;
   width: 100% !important;
   padding-top: 0.4em !important;
   vertical-align: middle !important;
}

.red.google.button {
   height: 3em;
   background-color: rgb(149, 15, 15);
}

.red.google.button:hover{background-color: rgb(231, 25, 25)}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #2B2B2B;
   padding-top: 6em;
   padding-bottom: 4.125em;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font: 1.375em/1.875em 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 0.75em;
}
#about p {
   line-height: 1.875em;
   color: #7A7A7A;
}
#about .profile-pic {
   display: inline-block;
   width: 7.5em;
   height: 7.5em;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 0.375em;
}

#about .header-col { 
   padding-right: 5%;
   text-align: right;
}

#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 0.375em;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 0.9375em;
   font-size: 1.25em;
}

/* header social links */
#about #social {
   padding: 1.9375em;
   font-size: 24px;
   text-shadow: 0em 0.0625em 0.125em rgba(0, 0, 0, .8);
   line-height: 36px;
}
#about .social li {
   display: inline-block;
   margin: 0.9375em 0.9375em 0.9375em 0;
   padding: 0;
}

/* header social links */
#about .social {
   margin: 1.5em 0;
   padding: 0;
   font-size: 1.875em;
   text-shadow: 0em 0.0625em 0.125em rgba(0, 0, 0, .8);
}
#about .social li {
   display: inline-block;
   margin: 0 0.9375em;
   padding: 0;
}
#about .social li a { color: #fff; }
#about .social li a:hover { color: #11ABB0; }


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: #fff;
   padding-top: 5.625em;
   padding-bottom: 4.5em;
   overflow: hidden;
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
   font: 1.125em/1.5em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.0625em;
}
#resume h1 span {
   border-bottom: 0.1875em solid #11ABB0;
   padding-bottom: 0.375em;
}
#resume h3 {
   font: 1.5625em/1.875em 'opensans-bold', sans-serif;
}

#resume .header-col { 
   padding-top: 0.5625em; 
   padding-right: 5%;
   text-align: right;
}
#resume .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 3em;
   padding-bottom: 1.5em;
   border-bottom: 0.0625em solid #E8E8E8;
}
#resume .info {
   font: 1em/1.5em 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 1.125em;
   margin-top: 0.5625em;
}
#resume .info span {
   margin-right: 0.3125em;
   margin-left: 0.3125em;
}
#resume .date {
   font: 0.9375em/1.5em 'opensans-regular', sans-serif;
   margin-top: 0.375em;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 2.25em;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 3.75em;
  	background: #ccc;
  	height: 2.625em;
  	border-radius: 0.1875em;
}
.bars li em {
	font: 0.9375em 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 0.125em;
	font-weight: normal;
   position: relative;
	top: -2.25em;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 1.5em;
  	background: #313131;
   display: inline-block;
  	height: 2.625em;
   line-height: 2.625em;
   border-radius: 0.1875em 0 0 0.1875em;
}
/*
.git {
  	-moz-animation: git 2s ease;
  	-webkit-animation: git 2s ease;
}
.illustrator {
  	-moz-animation: illustrator 2s ease;
  	-webkit-animation: illustrator 2s ease;
}
.reactjs {
  	-moz-animation: reactjs 2s ease;
  	-webkit-animation: reactjs 2s ease;
}
.css {
  	-moz-animation: css 2s ease;
  	-webkit-animation: css 2s ease;
}
.html5 {
  	-moz-animation: html5 2s ease;
  	-webkit-animation: html5 2s ease;
}
.vuejs {
  	-moz-animation: vuejs 2s ease;
  	-webkit-animation: vuejs 2s ease;
}
.mongodb {
  	-moz-animation: mongodb 2s ease;
  	-webkit-animation: mongodb 2s ease;
}

@-moz-keyframes git {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-moz-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-moz-keyframes reactjs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-moz-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes vuejs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes mongodb {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}

@-webkit-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-webkit-keyframes reactjs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes vuejs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes mongodb {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}  */

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   background: #ebeeee;
   padding-top: 5.625em;
   padding-bottom: 3.75em;
}
#portfolio h1 {
   font: 0.9375em/1.5em 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.0625em;
   text-align: center;
   margin-bottom: 3em;
   color: #95A3A3;
}

/* Portfolio Content */
#portfolio-wrapper .columns { margin-bottom: 36px; }
.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}
.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 1.875em;
   width: 1.875em;
   font-size: 1.125em;
   line-height: 1.875em;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -0.9375em;
   margin-top: -0.9375em;
}
.portfolio-item .item-wrap img {
   vertical-align: bottom;
}
.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.portfolio-item .portfolio-item-meta p {
   font: 0.75em/1.125em 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

/* popup modal */
.popup-modal {
	max-width: 34.375em;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box { padding: 0.75em 2.25em 1.125em 2.25em; }
.popup-modal .description-box h4 {
   font: 0.9375em/1.5em 'opensans-bold', sans-serif;
	margin-bottom: 0.75em;
   color: #111;
}
.popup-modal .description-box p {
	font: 0.875em/1.5em 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 0.75em;
}
.popup-modal .description-box .categories {
   font: 0.6875em/1.3125em 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 0.125em;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 0.5em;
}
.popup-modal .link-box {
   padding: 1.125em 2.25em;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
	font: 0.6875em/1.3125em 'opensans-bold', sans-serif;
	text-transform: uppercase;
   letter-spacing: 0.1875em;
   cursor: pointer;
}
.popup-modal a:hover {	color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 1.5em; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #212121;
   padding-top: 4.125em;
   padding-bottom: 3em;
}
#call-to-action h1 {
   font: 1.125em/1.5em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.1875em;
   color: #fff;
}
#call-to-action h1 span { display: none; }
#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
	padding-right: 0.625em;
	font-size: 4.5em;
   line-height: 4.5em;
   text-align: left;
   float: left;
   color: #fff;
}
#call-to-action .action {
   margin-top: 0.75em;
}
#call-to-action h2 {
   font: 1.75em/2.25em 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 0.375em;
}
#call-to-action h2 a {
   color: inherit;
}
#call-to-action p {
   color: #636363;
   font-size: 1.0625em;
}
/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}
#call-to-action p span {
	font-family: 'opensans-semibold', sans-serif;
	color: #D8D8D8;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
   background: #1F1F1F url(../images/testimonials-bg.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 12.5em;
   width: 100%;
   overflow: hidden;
}
#testimonials .text-container {
   padding-top: 6em;
   padding-bottom: 4.125em;
}
#testimonials h1 {
   font: 1.125em/1.5em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.1875em;
   color: #fff;
}
#testimonials h1 span { display: none; }
#testimonials .header-col { padding-top: 0.5625em; }
#testimonials .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f10d";
	padding-right: 0.625em;
	font-size: 4.5em;
   line-height: 4.5em;
   text-align: left;
   float: left;
   color: #fff;
}

/*	Blockquotes */
#testimonials blockquote {
   margin: 0 0em 1.875em 0em;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 0.0625em 0.1875em rgba(0, 0, 0, 1);
}
#testimonials blockquote:before { content: none; }
#testimonials blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 1.5em;
   line-height: 3em;
   color: #fff
}
#testimonials blockquote cite {
   display: block;
   font-size: 0.75em;
   font-style: normal;
   line-height: 1.125em;
   color: #fff;
}
#testimonials blockquote cite:before { content: "\2014 \0020"; }
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited { color: #8B9798; border: none }

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -1.25em;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 0.375em;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 0.75em;
    height: 0.75em;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -624.9375em;
    -webkit-border-radius: 1.25em;
    -moz-border-radius: 1.25em;
    -o-border-radius: 1.25em;
    border-radius: 1.25em;
    box-shadow: inset 0 0 0.1875em rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #191919;
   padding-top: 6em;
   padding-bottom: 6.375em;
   color: #636363;
}
#contact .section-head { margin-bottom: 2.625em; }

#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h1 {
   font: 1.125em/1.5em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.1875em;
   color: #EBEEEE;
   margin-bottom: 0.375em;
}
#contact h1 span { display: none; }
#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
	padding-right: 0.625em;
	font-size: 4.5em;
   line-height: 4.5em;
   text-align: left;
   float: left;
   color: #ebeeee;
}

#contact h4 {
   font: 1em/1.5em 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 0.375em;
}
#contact p.lead {
   font: 1.125em/2.25em 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 0.375em; }


/* contact form */
#contact form { margin-bottom: 1.875em; }
#contact label {
   font: 0.9375em/1.5em 'opensans-bold', sans-serif;
   margin: 0.75em 0;
   color: #EBEEEE;
	display: inline-block;
	float: left;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 1.125em 1.25em;
	color: #eee;
	background: #373233;
	margin-bottom: 2.625em;
	border: 0;
	outline: none;
   font-size: 0.9375em;
   line-height: 1.5em;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #fff;
	background-color: #11ABB0;
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 0.1875em;
	color:#fff;
   background: #0D0D0D;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 0.1875em;
   margin-left: 26%;
}
#contact button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#contact span.required {
	color: #11ABB0;
	font-size: 0.8125em;
}
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 1.5em 1.5em;
	margin-bottom: 2.25em;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 0.625em;
}
#image-loader {
   display: none;
   position: relative;
   left: 1.125em;
   top: 1.0625em;
}


/* Twitter Feed */
#twitter {
   margin-top: 0.75em;
   padding: 0;
}
#twitter li {
   margin: 0.375em 0px 0.75em 0;
   line-height: 1.875em;
}
#twitter li span {
   display: block;
}
#twitter li b a {
   font: 0.8125em/2.25em 'opensans-regular', Sans-serif;
   color: #474747 !important;
   border: none;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 3em;
   margin-bottom: 3em;
   color: #303030;
   font-size: 0.875em;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 0.625em;
    padding-right: 0.625em;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 1.125em 0 1.875em 0;
   padding: 0;
   font-size: 1.875em;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 2.625em;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -1.5em;
   left: 50%;
   margin-left: -1.875em;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 3.75em;
	height: 3.75em;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 1.3125em;
   line-height: 3.75em;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }



/* ------------------------------------------------------------------ */
/* j. ArtworkList Section
/* ------------------------------------------------------------------ */

#artworkList {
   background: #fff;
   height: 100%;
   margin: 0;
}

#artworkList a, #artworkList a:visited  { color: #11ABB0; }
#artworkList a:hover, #artworkList a:focus { color: #313131; }

#artworkList h1 {
   font: 1.125em/1.5em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.0625em;
}
#artworkList h1 span {
   border-bottom: 0.1875em solid #11ABB0;
   padding-bottom: 0.375em;
}
#artworkList h3 {
   font: 1.5625em/1.875em 'opensans-bold', sans-serif;
}

#artworkList p{
   font-size: 1.2em;
   text-align: left;
}


#artworkList .header-col { 
   padding-top: 0.5625em; 
   background-color: rgb(238, 236, 235);
   text-align: center;
   height: calc(100vh - 4.25em);
}
#artworkList .main-col { 
   
   padding: 0;
   background-color: #2B2B2B;
   text-align: center;
   height: calc(100vh - 4.25em);
 }

 #artworkList .carousel-item {
   height: calc(100vh - 4.25em);
   text-align: center;
 }

 #artworkList .carousel-item img{
      height: calc(100vh - 4.25em);
      object-fit: contain; 
      position: sticky;
      border: 10px solid #ddd;
      margin: auto;
 }


 #artworkList .carousel-item img#description{
    border: none;
}

 #artworkList .carousel-caption {
   color:  rgba(14, 10, 10, 0.705) !important;
   font-size: 2.075em;
}

#artworkList .carousel-caption p{
   text-align: center;
}


/* ------------------------------------------------------------------ */
/* k. Description Section
/* ------------------------------------------------------------------ */

#description {
   background: #2B2B2B;
   padding-top: 6em;
   padding-bottom: 4.125em;
   overflow: hidden;
   justify-content: center;
   align-items: center;
}

#description .description-app {
   display: inline-block;
   vertical-align: middle;
   max-width: 56.25em;
   max-height: 31.25em;
}

/* -------------------------------------------------------------------- */
/* l. Experiment Section
/* -------------------------------------------------------------------- */

#experiment {
   background: #fff;
   height: 100%;
   margin: 0;
}

#experiment a, #experiment a:visited  { color: #11ABB0; }
#experiment a:hover, #experiment a:focus { color: #313131; }

#experiment .description-container{
   max-height: 50vh;
}

#experiment .card{
   display: inline-block;
   position: relative;
   height: 30%;
   max-height: 30vh;
   width: 90%;
   margin-top: 1.2em;
   margin-bottom: 1em;
   border: 4px solid #ddd;
   border-radius: 4px;
   text-align: center;
   background-color: #2B2B2B;
}

#experiment #sourceImg{   
   border-radius: 4px;
   object-fit: contain;
   position: sticky;
   margin: auto;
   height: 100%;

}

#experiment h1 {
   font: 1.125em/1.5em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.0625em;
   padding-bottom: 0.375em;
}
#experiment h1 span {
   border-bottom: 0.1875em solid #11ABB0;
   padding-bottom: 0.375em;
}
#experiment h3 {
   font-family: "Roboto", Helvetica, sans-serif;
   font-size: 2.25em;
   font-weight: 700;
   padding-bottom: 0.375em;
   padding-top: 0.375em;
}

#experiment p{
   font-size: 1.2em;
   text-align: left;
}

#experiment strong{
   font-size: 0.8em;
}

#experiment i{
   font-size: 1em;
}

#experiment .row{
   background-color: #0D0D0D;
}

#experiment .header-col { 
   padding-top: 0.5625em; 
   background-color: rgb(238, 236, 235);
   text-align: center;
   height: calc(100vh - 4.25em);
}
#experiment .main-col { 
   
   padding: 0;
   background-color: #2B2B2B;
   display: block;
   text-align: center;
   height: calc(100vh - 4.25em);
 }

 #experiment .carousel-item {
   height: calc(100vh - 4.25em);
   text-align: center;
 }

 #experiment .carousel-item img{
      height: calc(100vh - 4.25em);
      object-fit: contain;
      position: sticky;
      border: 10px solid #ddd;
      margin: auto;
 }

 #experiment .carousel-caption {
   color:  rgba(0, 0, 0, 0.705) !important;
   font-size: 2.075em;
   bottom: 2.5em;
}

#experiment .carousel-caption p{
   text-align: center;
}


 #experiment .carousel-item button{
   position: absolute;
   margin: 0.8em;
   bottom: 1.2em;
 }

 #experiment .carousel-item button.left{
   left: 15%;
 }

 #experiment .carousel-item button.right{
   right: 15%;
 }


 /* -------------------------------------------------------------------- */
/* m. About AI Section
/* -------------------------------------------------------------------- */

 #aboutai {
   background: #fff;
   padding-top: 5.625em;
   overflow: hidden;
}

 #about h2 {
   font: 1.5625em/1.875em 'opensans-bold', sans-serif;
}

 #aboutai .row{
   margin-bottom: 3em;
   padding-bottom: 4.5em;
   border-bottom: 0.0625em solid #E8E8E8;
   text-align: left;
   justify-content: center;
}

 #aboutai .row .button-row{
    text-align: center;
 }


 /* -------------------------------------------------------------------- */
/* n. Modal
/* -------------------------------------------------------------------- */

#modal .ui.modals.active.dimmer {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed !important;
 }

 .ui.modal,
 .ui.active.modal {
   margin: 0 auto!important;
   top: auto !important;
   left: auto !important;
   transform-origin: center !important;
   transition: all ease .5s;
   height: 30%;
 }

 .ui.active.modal .header {

   font-size: 2.075em !important;
   height: 20% !important;
 }

 .ui.active.modal .content {

   font-size: 1.775em !important;
   height: 30% !important;
 }

 .ui.active.modal .actions {
   margin: 0 auto!important;
   text-align: center;
   height: 50% !important;
 }

 .ui.active.modal .actions .red.google.button{
   max-width: 40%;
 }


 /* -------------------------------------------------------------------- */
/* m. Sequence Generator Section
/* -------------------------------------------------------------------- */

#sequenceGenerator {
   background: rgb(0, 0, 0);
   overflow: hidden;
}

 #sequenceGenerator h2 {
   font: 1.5625em/1.875em 'opensans-bold', sans-serif;
}

 #sequenceGenerator .row{
   padding-top: 1.5em;
   padding-bottom: 1.5em;
   border-bottom: 0.0625em solid #E8E8E8;
   text-align: left;
   justify-content: center;
   height: 30vh;
   background-color: rgb(238, 236, 235);
}

 #sequenceGenerator .row .button-row{
    text-align: center;
 }

 #sequenceGenerator .main-col { 
   
   margin: 0.5;
   margin-top: 0.5;
   margin-bottom: 0.5;
   display: block;
   text-align: center;
   height: 100%;
 }

 #sequenceGenerator .sequence-row{

   border-bottom: 0.0625em solid #E8E8E8;
   text-align: left;
   justify-content: center;
   height: 65vh;
   background-color: rgb(27, 27, 27);

 }

 #sequenceGenerator .carousel-item {
   height: 65vh;
   text-align: center;
 }

 #sequenceGenerator .carousel-item img{
      height: 65vh;
      object-fit: contain;
      position: sticky;
      border: 10px solid #ddd;
      margin: auto;
 }

 #sequenceGenerator .carousel-caption {
   color:  rgba(0, 0, 0, 0.705) !important;
   font-size: 2.075em;
   bottom: 2.5em;
}

#sequenceGenerator .carousel-caption p{
   text-align: center;
}


#sequenceGenerator .carousel-item button{
   position: absolute;
   margin: 0.8em;
   bottom: 1.2em;
 }

 #sequenceGenerator .carousel-item button.left{
   left: 15%;
 }

 #sequenceGenerator .carousel-item button.right{
   right: 15%;
 }