img {
    max-height: 15em;
    margin: auto;
    display: inline-block;
  }
  
  .ui.placeholder.segment {
    width: 34.375em;
    margin: 2.5em auto;
    margin-left: 0em auto;
  }

  .app-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 10px solid #ddd;
  }
  
  .clear {
    clear: both;
  }
  
  .details,
  .title {
    text-align: center;
  }
  
  .error {
    margin-top: 0.25em;
    color: red;
  }
  
  .has-error {
    border: 0.0625em dotted red;
  }
  
  .image-container {
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 85%;
    height: 80%;
    text-align: center;
    padding-top: 1.25em;
  }
  
  .preview-container {
    width: 100%;
    margin: auto;
    padding: 0.8em;
    display: inline-block;
  }

  .preview-container p{
    text-align: center;
  }

  .placeholder-preview {
    cursor: pointer;
  }
  
  .placeholder-preview,
  .render-preview {
    text-align: center;
    background-color: #efebeb;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
  }

  .upload-container {
    cursor: pointer;
    height: 18.75em;
  }
  
  #uploadIcon{
    height: 40%;
    width: 40%;
    padding: 0.8em;
  }

  .uploadButton{
    margin: 0.8em;
  }