img {
    max-height: 15em;
    margin: 0 auto;
  }
  
  .ui.placeholder.segment {
    width: 34.375em;
    margin: 2.5em auto;
    margin-left: 0em auto;
  }

  .app-container {
    max-width: 31.25em;
    justify-content: center;
    align-items: center;
  }
  
  .clear {
    clear: both;
  }
  
  .details,
  .title {
    text-align: center;
  }
  
  .error {
    margin-top: 0.25em;
    color: red;
  }
  
  .has-error {
    border: 0.0625em dotted red;
  }
  
  .image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 85%;
    height: 80%;
    float: left;
    text-align: center;
    margin: 15px 10px 10px 15px;
  }
  
  .preview-container {
    height: 20.9375em;
    width: 100%;
    margin-bottom: 2.5em;
  }
  
  .upload-container {
    cursor: pointer;
    height: 18.75em;
  }
  